<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lele.apps.cms.dao.extend.RoleExtendMapper">
    
    <resultMap id="RoleExtendMapperBaseResultMap"
               type="com.lele.apps.cms.bean.extend.RoleExtend"
               extends="com.lele.apps.cms.dao.RoleMapper.BaseResultMap">
        
        <collection property="privileges"
                    column="id"
                    select="com.lele.apps.cms.dao.extend.RolePrivilegeExtendMapper.selectByRoleId" />
    </resultMap>
    
    
    <!-- 通过用户id，联合桥表，查询出用户的角色 -->
    <select id="selectByUserId" parameterType="long" resultType="com.lele.apps.cms.bean.Role">
        SELECT role.id,role.name FROM cms_user_role userRole,cms_role role WHERE
        userRole.user_id=#{userId,jdbcType=BIGINT} AND role.id=userRole.role_id
    </select>
    
    <!-- 查询某一个角色 -->
    <select id="selectByName" parameterType="String" resultType="com.lele.apps.cms.bean.Role">
        SELECT * FROM cms_role WHERE name =#{reader,jdbcType=VARCHAR}
    </select>
    
    <!-- 通过角色查询用户 -->
    <select id="cascUserByName" parameterType="String" resultType="com.lele.apps.cms.bean.User">
        SELECT r.id,r.name,ur.role_id,ur.user_id,u.* FROM cms_role r,cms_user_role ur,cms_user u WHERE
        r.name=#{name,jdbcType=VARCHAR} AND ur.role_id=r.id AND u.id = ur.user_id
    
    </select>
    <delete id="deleteByName" parameterType="String">
        DELETE FROM cms_role WHERE name =#{name,jdbcType=VARCHAR}
    </delete>
    
    <!-- 查询角色的时候，查出角色的权限 -->
    <select id="selectAllIncludePrivilege" resultMap="RoleExtendMapperBaseResultMap">
        SELECT *
        FROM cms_role
    </select>

</mapper>